﻿body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 4em;
    color: #234F1E;
    font-weight: bold;
    text-decoration-line: underline;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration-line: underline;
}

p {
    text-align: center;}

div {
    text-align: center;
}

.carousel-inner {
    width: 100%;
    max-height: 700px !important;
}

.info {
    background-color: #D8F0C0;
}