﻿/*heading*/
.row h1 {
    background: #006a4e;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 50px;
}

/*subheadings*/
.row h2 {
    background: #5ca08e;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 30px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

.climbing-gym img {
    width: 400px;
    height: 400px;
    position: relative;
    float: left;
    margin-right: 10px;
}

    .climbing-gym div {
        bottom: 0;
        right: 0;
        position: absolute;
        background: black;
        color: white;
        margin-bottom: 5px;
        font-family: sans-serif;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .climbing-gym:hover {
        cursor: pointer;
    }

        .climbing-gym:hover div {
            padding: 8px 15px;
            visibility: visible;
            opacity: 0.7;
        }

.popular-gyms img {
    width: 200px;
    height: 200px;
}

.btn {
    color: #F7FFF7;
    background: #aed581;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
}

table tr, table th, table td {
    border: thin solid black;
    text-align: center;
    padding: 4px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
