﻿@charset "UTF-8";
/* header styles */
header {
    font-family: Arial, sans-serif;
    color: #B2D3C2;
    background-color: #B2D3C2;
    /*#234F1E*/
    background-size: cover;
    text-align: center;
}

    header p {
        font-style: italic;
        margin-top: -12px;
        padding-bottom: 0.8em;
    }

    header h1 {
        padding: 0.8em 1em;
        font-size: 1em;
        margin-top: 1.5em;
    }
/* nav styles */
.navbar-custom {
    background-color: #8DAB7F !important;
    padding: 0.25em;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: #000000;
        border: 1px solid;
        border-radius: .5em;
        margin: 0.5em;
        padding: 0.2em;
        min-width: 8em;
    }

    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #234F1E;
    }

/* change the button outline color when it is clicked */
.navbar-toggler:focus, .navbar-toggler:active {
    outline-color: #F9AB33;
    margin: 0.5em; /* Set margin to align the border with menu text */
}
