﻿@charset "UTF-8";

/* Set the box-sizing model to border-box for all the elements in the document */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Arial, serif;
    font-size: 100%;
    background-color: whitesmoke !important;
    margin: 0;
}

/* main "products" styles */
main {
    font-family: 'Stint Ultra Expanded', Georgia, serif;
    font-size: medium;
    color: #555;
    line-height: 1.8em;
    padding: 1em;
    border: double 4px #EADDC4;
    border-radius: 25px;
    margin-top: 1em;
    /*margin: 2.5%*/
}

h2 {
    font-weight: bolder;
    font-size: large;
    color:aliceblue !important;
}


p.more {
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    font-size: .8em;
    clear: left;
}

main img {
    float: left;
    margin: 0 1em 1em 0;
}

img[src*="muffin"] {
    margin-left: 50px;
}

/* aside "hours" styles */
aside {
    background: url("../images/scallop.png") repeat-y left top;
    background-color: #F6F3ED;
    padding: 1em;
    padding-left: 45px;
    margin-top: 1em;
    height: 100%;
}

/* misc styles */
h2 {
    font-family: 'Stint Ultra Expanded', Georgia, serif;
}

.day {
    color: #783F27;
    font-family: verdana, sans-serif;
    font-size: .8em;
    text-transform: uppercase;
}

form {
    width: 80%;
    margin: auto;
}
fieldset {
    padding: 10px 20px 20px;
    border: thick solid sandybrown;
}

p {
    margin-bottom: 5px;
}

.row {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    background-color: #587B7F;
}


.carousel-inner .item {
    height: 500px;
    background-size: cover;
    background-position: center center;
}

img {
    width: 100%;
    height: auto;
}