﻿body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

/* Title */

.row h1{
    background:#3fca1f;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    font-size: 50px;
}

/* Iframe */

.row #container h3{
    text-align: left;
    margin-bottom:20px;
    margin-left: 200px;
}

iframe {
    border-style: none;
    width: 50%;
    height: 420px;
    display: block;
    float: left;
    margin-left: 100px;
}

/* Introduction Sidebar*/
#sideintro{
    float:right;
    padding: 15px;
    margin-right: 100px;
    margin-top: 20px;
    width: 500px;
    background-color:#3fca1f;
    color: white;
}

.row #container #sideintro h4 {
    font-size: 25px;
    text-align:center;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .container h2{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    background:#3fca1f;
    color:white;
}

#boxes .box{
    float:left;
    text-align:center;
    width:50%;
    padding:10px;
}

#border {
    border: 2px dotted black;
    border-radius: 10px;
}

#boxes .box img{
    width:500px;
}

.responsive {
    width: 100%;
    height: auto;
}

#boxes .box li{
    text-align: left;
}

#boxes .box h3 {
    background:border-box;
    background-color:lightgray;
}
/* Carousel */
.carousel-inner {
    width: 100%;
    max-height: 700px;
}

/* Table */
table{
    float:left;
    width: 500px;
    height: 400px;
    margin-left: 150px;
    margin-bottom:50px;
    text-align: center;
    border-collapse: collapse;
}

table caption {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

table tr, table th, table td {
    border: thin solid black;
    text-align: center;
    padding: 4px;
}

th{
    font-weight: bold;
    text-align:center;
    background-color: lightgray;
}
/* Form */
#form-container{
    float: right;
    padding: 15px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    background-color: #3fca1f;
}

#form-container h4{
    text-align: center;
    color: white;
}

label{
    display: inline-block;
    width: auto;
    margin-left: 20px;
    padding: 10px;
    color:white;
}

#form-container textarea, #name{
    width: 90%;
    padding: 5px;
}

.row #address{
    background-color:darkgreen;
    width: 90%;
    margin-left: 50px;
    color: white;
    margin-top: 20px;
}

#button1{
    margin-left: 50px;
}

/* Media Queries */
@media(max-width: 768px){
    #boxes .box, table, #form-container{
        float:none;
        text-align: center;
        width:100%;
        margin:0;
    }

    #sideintro {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    .row #container h3 {
        text-align: center;
        margin-bottom: 20px;
        margin-left:0;
        width:auto;
    }

    iframe {
        float:none;
        width:90%;
        margin-bottom: 20px;
        margin-left:40px;
    }

    #form-container{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}