﻿body {
    font-family: 'Trebuchet MS';
}
/* Volleyball title*/
.text {
    font-family: Rockwell, sans-serif;
    text-align: center;
    font-size: 300%;
    padding-left: 50px;
    padding-right: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

.size {
    text-align: center;
}

.backing {
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    max-width: 200px;
}

    .backing > img {
        height: auto;
    }

.imageball {
    width: 50%;
    flex-basis: 100%;
    order: 2;
    padding: 15px 15px 30px;
}

.caption {
    font-size: 20px;
    text-align: center;
}

/* About Volleyball */
.About {
    background-color: #188DA5;
}

h2 {
    font-family: Tahoma, sans-serif;
    color: #FFFADD;
    font-size: 300%;
}

.ytVideo {
    float: right;
    margin-left: 20px;
}

.About p {
    color: #F7FFF7;
}

/* How To Play Volleyball*/

/* Benefits */
.Benefits h2 {
    color: #DC5D49;
}

.Benefits {
    text-align: center;
}

.Benefits .btn {
    color: #F7FFF7;
    background: #aed581;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
}


/*Locations To Play*/
.LocationsTable {
    background: #FA8072;
}


.volleyballbooking {
    width: 400px;
}

.LocationsTable .p {
    color: azure;
}


.LocationsTable .btn {
    color: #F7FFF7;
    background: #aed581;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    display: inline-block;
}



/* Leave a Comment */
.Questions h2 {
    color: #188DA5;
}


/* for all tables*/
.LocationsTable table {
    width: 100%;
    border: 1px;
    padding: 15px;
    align-content: center;
    text-align: center;
    margin: auto;
}

.LocationsTable tr {
    background-color: cornsilk;
}
