﻿<link rel="stylesheet" href="css/footer-styles.css">
<footer>
    <p>All content copyright &copy; 2021, Sprouts.</p>
    <a href="badminton.html">Badminton</a>
    <a href="soccer.html">Soccer</a>
    <a href="skating">Ice Skating</a>
    <a href="volleyball.html">Volleyball</a>
    <a href="climbing.html">Climbing</a>
</footer>